.nav-link{
    color: #fff;
}
button{
    background: linear-gradient(50deg, #A30808 2%, #2A2C31 130%);
    border-radius: 30px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 27px;
    color: #FFFFFF;
    padding: 4px 60px;
    border-color: transparent;
}
h2 {
    color: rgba(63, 63, 63, 1);
}

/* home */
#home {
    background: #232324;
    color: #fff;
    background-image: url(./../img/img-car-home.png);
    background-repeat: no-repeat;
    background-position: top right;
    background-size: contain;
    height: 100vh;
}
.home_text {
    width: 525px;
    height: 233px;
    margin-top: 300px;
    font-family: 'Poppins';
}
.home_text h1 {
    font-size: 64px;
}
.home_text p {
    font-size: 20px;
    width: 340px;
}

/* executive transportation */
#executive_transportation{
    margin-top: 120px;
    font-family: 'Poppins';
    font-size: 32px;
    line-height: 150%;
    color: #3F3F3F;
}
.et_cards{
    width: 796px;
    margin: 0 auto;
    margin-top: 80px;
    margin-bottom: 180px;
}
.et_card{
    width: 252px;
    height: 210px;
    padding: 24.579710006713867px 19.97101402282715px 24.579710006713867px 19.97101402282715px;
    border-radius: 12px;
    background: linear-gradient(90.03deg, #A30808 2.41%, #2A2C31 133.42%);
    margin: 10px;
}
.et_card img{
    margin-top: 10px;
}
.et_card p{
    font-family: 'Lato';
    font-weight: 600;
    font-size: 18px;
    line-height: 24px;
    text-align: center;
    color: #E9E9E9;
    padding-top: 24.6px;
}

/* Get to know our cars */
#get_cars h2{
    text-align: center;
    font-family: Poppins;
    font-size: 36px;
    font-weight: 500;
    line-height: 54px;
    letter-spacing: 0em;
    padding-bottom: 40px;
}
.gc_icon_photos > div{
    margin: 30px 0px 20px 100px;
}
.gc_seat p{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    font-size: 25.6286px;
    line-height: 38px;
    background: linear-gradient(90.03deg, #A30808 2.41%, #2A2C31 133.42%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-fill-color: transparent;
}

/* cars */
#cars h2{
    margin-top: 80px;
    font-family: 'Poppins';
    font-weight: 500;
    font-size: 32px;
    line-height: 48px;
    color: #3F3F3F;
    padding-bottom: 40px;
}

/* multilingual drivers */
#multilingual_drivers{
    width: 912px;
    height: 303px;
    margin: 120px auto;
}
#multilingual_drivers h3{
    font-family: 'Poppins';
    font-weight: 500;
    font-size: 32px;
    line-height: 48px;
    color: #3F3F3F;
}
#multilingual_drivers > p{
    font-family: 'Lato';
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
    color: rgba(120, 120, 120, 1);
}
.md_cards{
    margin-top: 80px;
}
.md_card{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 32px;
    width: 204px;
    height: 120px;
    background: linear-gradient(90.01deg, #262626 39.04%, #949494 113.59%);
    margin: 20px;
    color: #fff;
}
.md_card img {
    padding-bottom: 12px;
    padding-top: 16px;
}

/* contact */
.contact_grid {
    padding-top: 80px;
    width: 1246px;
    height: 627.23px;
    border-radius: 20px;
    background: linear-gradient(90.34deg, #262626 40%, #949494 170%);
    margin: 160px auto;
    color: #fff;
}
.contact_grid h2 {
    text-align: center;
    padding-bottom: 28px;
    color: #fff;
}
.contact_forms {
    width: 1060px;
    height: 300px;
    grap: 32px;
    margin: 0 auto;
}
.contact_forms label{
    font-family: Lato;
    font-size: 17px;
    font-weight: 600;
    line-height: 24px;
    letter-spacing: 0em;
}
.contact_forms input{
    margin-bottom: 32px;
    background: transparent;
    border-color: rgba(135, 135, 135, 1);
    color: #fff;
}
.contact_forms input:focus{
    color: #fff;
    border: 1px;
}
.contact_forms_a input {
    width: 522px;
    height: 32px;
    border-radius: 8px;
}
.contact_forms_a label {
    height: 0;
}
.contact_forms_b input {
    width: 522px;
    height: 32px;
    border-radius: 8px;
}
.contact_forms_c input{
    width: 258px;
    height: 32px;
    border-radius: 8px;
}
.contact_forms_c > div {
    margin-right: 6px;
}

/* footer */
footer {
    margin-top: 120px;
    height: 500px;
    background-color: #232324;
    padding-top: 100px;
    color: #fff;

}
footer h2 {
    font-size: 18px;
    color: #fff;
}
.footer_social img {
    padding: 4px;
    padding-top: 20px;
}